{% import 'bootstrap/wtf.html' as wtf%}

{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
{% endblock %}

<!-- content -->
{% block content %}
<p>All Pitches</p>

<div class="row container">

    <div class="col-md-5" id="pitches">
        {% for pitch in pitches %}
        <div class="">

        </div>
        <p>{{ pitch.title }}</p>
        <p>{{ pitch.category }}</p>
        <p>{{ pitch.description }}</p>
        {% endfor %}
        <a href="/comment/">Add Comment</a>
        <a href="/displaycomment/">View Comment</a>
    </div>

    <div class="col-md-5">
        {{wtf.quick_form(form)}}
    </div>


</div>



{% endblock %} 
